.message__container {
    z-index: 997;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--transparent-dark);
}

.message {
    width: 92%;
    max-width: 640px;
    padding: var(--gap-large-3);
    color: var(--white);
    background: var(--gradient-gray);
    border: 6px solid var(--gray-light);
    border-radius: var(--border-radius-medium);
}

.message__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: var(--gap-medium);
}

.message__title {
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: 2px solid var(--purple);
}

.message__text {
    margin: var(--gap-large-2) 0;
}

.message__controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: var(--gap-medium);
}

@media screen and (max-width: 550px) {
    .message {
        padding: var(--gap-large-2) var(--gap-large);
    }
}

@media screen and (max-width: 450px) {
    .message {
        width: 100%;
        border-width: 4px;
        border-left: none;
        border-right: none;
        padding: var(--gap-large);
    }

    .message__text {
        font-size: 18px;
    }
}