@import './css/header.css';
@import 'components/cards/cards.css';
@import 'components/message/message.css';

@font-face {
    src: url('assets/font/Comfortaa.ttf');
    font-family: 'Comfortaa';
}

:root {
    /* colors */
    --white: #fff;
    --black: #000;
    --gray-dark: #333;
    --gray: #666;
    --purple-dark: #491064;
    --purple: #9a27d2;
    --transparent-white: #fffc;
    --transparent-dark: #0009;

    /* gradients */
    --gradient-gray: linear-gradient(45deg, var(--gray-dark), var(--gray));
    --gradient-purple: linear-gradient(45deg, var(--purple-dark), var(--purple));

    /* gaps */
    --gap-small: 0.5rem;
    --gap-medium: 1rem;
    --gap-large: 2rem;
    --gap-large-2: 3rem;
    --gap-large-3: 4rem;

    /* transition time */
    --transition-slow: 500ms;
    --transition-medium: 250ms;
    --transition-fast: 150ms;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    font-size: 20px;
    font-family: 'Comfortaa';
    min-height: 100vh;
    background: var(--gradient-gray);
}

.btn {
    padding: var(--gap-small) var(--gap-medium);
    font: inherit;
    font-size: 1rem;

    background: var(--gradient-purple);
    color: var(--white);
    border: 2px solid var(--black);
    border-radius: 7px;
    cursor: pointer;
    transition: border
}
.btn:hover {
    border-color: var(--white);
}

.hidden {
    display: none;
}