.header {
    position: relative;
    z-index: 998;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: var(--gap-small) var(--gap-large);
    background-color: var(--transparent-white);
}

.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: var(--gap-small);
}

.header__label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--gap-small) var(--gap-medium);

    color: var(--gray-light);
    background: var(--gray-dark);
    border-radius: var(--border-radius);
}

.header__value {
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: bold;
    color: var(--purple-light);
}

.header__value_level {
    justify-content: flex-end;
    width: 24px;
}
.header__value_time {
    width: 50px;
}

.header__wrapper {
    gap: var(--gap-medium);
}


/*@media screen and (max-width: )*/

