.menu {
    z-index: 997;
    position: absolute;
    right: 0px;
    width: 100%;
    max-width: 320px;
    padding: var(--gap-large-2);

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--gap-medium);

    background: var(--transparent-dark-2);
    border-bottom-left-radius: var(--border-radius-large);
    border: 6px solid var(--black);
    border-right: none;
    border-top: none;
    transition: var(--transition-slow);
}

.menu.hidden {
    display: flex;
    transform: translateY(calc(-150%));
}