.menu {
    z-index: 997;
    position: absolute;
    right: 0;
    width: 100%;
    max-width: 320px;
    padding: var(--gap-large-2);
    padding-top: var(--gap-medium);

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--gap-medium);

    background: var(--transparent-dark);
    border-bottom-left-radius: var(--border-radius-large);
    border: 6px solid var(--black);
    border-right: none;
    border-top: none;
    transition: var(--transition-slow);
}

.menu__title {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: var(--gap-small);
    font-weight: bold;
    color: var(--white);
}
.menu__title .icon {
    transform: translateY(-2px);
}

.menu.hidden {
    display: flex;
    transform: translateY(calc(-150%));
}


@media screen and (max-width: 400px) {
    .menu {
        max-width: 400px;
        padding: var(--gap-large-2);
        padding-top: var(--gap-medium);
        gap: var(--gap-medium);
        border-left: none;
        border-bottom-left-radius: 0;
    }
}
